/* 导航条 */
.navbar{
    background-color:white;
    border-top:none;
    border-left:none;
    border-right:none;
}
/* 用户头像 */
#user-img{
    padding:5px 15px;
}
/* 导航条的下拉菜单 */
.dropdown-menu{
    min-width:100%;
    text-align:center;
}
/* 页脚 */
.footer{
    margin-top:150px;
    text-align:center;
}
.footer a{
    text-decoration:none;
}